.content-header {
    background-color: #c41333;
    background-image: linear-gradient(to bottom, #c41333, #a3102b);
    color: white;
    position: relative;
    min-height: 20px;
}

.block.navigation.menu--main {
    display: none;
}

.tabs__tab {
    background-color: #333791;
    color: white;
}

.tabs__tab a {
    color: white;
}

.tabs__tab:hover a {
    color: #c41333;
}

.tabs__tab.is-active a {
    color: #c41333;
}

.tabs.secondary {
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
    margin-top: 8px;
    margin-top: 0.5rem;
}

.tabs.secondary::before {
    height: 49px;
    bottom: -7px;
    background-color: white;
}

.is-horizontal .tabs.secondary .tabs__tab {
    background-color: #333791;
    border-radius: 4px;
}

.is-horizontal .tabs.secondary .tabs__tab:hover {
    background-color: white;
    border: 1px solid #c41333;
}

.is-horizontal .tabs.secondary .tabs__tab.is-active {
    background-color: white;
    border: 1px solid #c41333;
}

body::after {
    content: 'Made with \2764 by btemperli';
    color: white;
    background-color: #c41333;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 20px;
    font-size: 10px;
    text-align: center;
}
